/*
 * Estilos de tu proyecto
 */
 body {
   margin: 0 auto;
   overflow-x: hidden; /*esto funciona, pero no lo entiendo*/
   float: left;
   font-family: 'Montserrat', sans-serif;
 }
 header{
   position: fixed;
   width: 100%;
 }
#logo{
  width: 4em;
  float: left;
  margin: 0.5em 5em 0 5em;
  /*outline: 1em solid green;*/
}
header nav ul{
  list-style: none;
  overflow: auto;
  width: 30em;
  margin-top: 2em;
  margin-left: 40em;
}
header nav li {
  margin-top: 1em;
  margin-left: 3em;
  float: left;
  /*outline: 1em solid green;*/
}
header nav li:last-child {
  margin-top: 0.2em;
  padding: 2% 0 2% 0;
  width: 5em;
  text-align: center;
  border: 0.12em solid white;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
  -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
}
header nav a{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}
header nav a:hover {
  color: #FF00BF;
}
/*formato de la primera sección*/
#section1{

  /*outline: 2px solid yellow;*/
}
video{
  position: fixed;
  width: 100%;
  z-index: -1;
  margin-top: -5.5em;
}
.box1{
  display: inline-block;
  width: 31em;
  height: 25.7em;
  background: white;
  margin-top: 8em;
  margin-left: 48em;
  margin-right: 0
  /*outline: 0.1em solid red;*/
}
#section1 h1{
  font-size: 2.5em;
  width: 8em;
  margin: 1.5em 0 0 2em;
  color: #352384;
  }
#sub{
  margin: 0;
  width: 20em;
  margin-left: 5em;
  color: #352384;
}
#phone{
  margin-top: 2em;
  width: 20em;
  margin-left: 5em;
  margin-bottom: 0;
  color: #728099;
}
#sub2{
  margin-top: 2em;
  font-size: 0.6em;
  width: 30em;
  margin-left: 9em;
  line-height: 2em;
  color: #728099;
}
hr {
  border: 0.05em solid #352384;
  margin-left: 5em;
  width: 20em;
}
.botones{
  list-style: none;
  overflow: auto;
  margin-left: 2em;
}
#section1 .box1 li:first-child a{
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #FF00BF;
  padding: 0.9em;
  float: left;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
  -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
}
#section1 .box1 li:last-child a{
  color: #728099;
  padding: 0.9em;
  float: left;
}


/*formato de la segunda sección*/

#section2 .box2{
  width: 26em;
  float: left;
  margin-left: 9em;
  padding-top: 3em;
}
#section2 p{
margin-bottom: 5em;
}
#section2 #img2{
  width: 30em;
  margin-left: 5em;
  /*outline: 1px solid black;*/
  padding-top: 3em;
}
#section2{
  background: linear-gradient(#76278F, #2B1E66);
  color: white;
  width: 100%;
  height: 38em;
  float: left;
}
/*Formato de la tercera sección*/
iframe{
  width: 50em;
  height: 30em;
  border: 0;
}
.video1 h1{

}
.video1 #parrafo2{

  width: 25em;
display: inline-block;
}

footer{
  background-color: #333447;
  color: white;
  padding: 0.2em;
  text-align: center;
  width: 100%;
  height: 10em;
  outline: 2px solid red;
}
